.pt150 {
    width: 100vw;
    height: 100vh;
    padding-top: 150px;

    .block_title {
        color: #222222;
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.3;
        margin-top: 0;
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .parent_menu {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .parent_menu_btn {
        border-radius: 10px;
        background: #E9EBEE;
        width: 18%;
        padding: 5px 5px 20px;
        cursor: pointer;
    }

    .parent_menu_btn img {
        border-radius: 13px;
        overflow: hidden;
        width: 100%;
        height: 130px;
        object-fit: cover;
    }

    .parent_menu_name {
        // color: #222;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        font-family: 'Roboto', sans-serif;
    }

    .parent_menu_info {
        padding: 24px 8px 0;
    }

    .parent_menu_btn .active {
        background-color: #202022;
    }

    .active {
        background-color: #202022;
        color: white;
    }


    .menu-content {
        display: none;
    }

    .menu-content.active {
        display: block;
    }

    .product {
        padding-top: 100px;
        &_content {
            &-block {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }
        }
        &_item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 280px;
            height: 100%;
            img {
                border-radius: 13px;
                overflow: hidden;
                width: 90%;
                max-height: 160px;
                -o-object-fit: cover;
                object-fit: cover;
                padding: 10px 10px;
            }
            &-price {
                font-size: 22px;
                color: #333333;
                margin-top: 20px;
                font-family: 'Montserrat Alternates', sans-serif;
            }
            &-info {
                width: 270px;
                background: #fff;
                transition: .9s;
                transform: translateY(0px);
                border-radius: 20px;
                padding: 5px 5px 20px;
                margin-bottom: 20px;
            }
            &-caption {
                width: 100%;
                padding: 5px 5px;
                p {
                    margin: 0 0 10px;
                    color: #666666;
                    font-size: 16px;
                }
                .block_subtitle {
                    color: #333333;
                    font-size: 18px;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 14px!important;
                }
            }
        }
    }
}